/* James Hong, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(29, 207, 207);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: 50px;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60,20,200);
}



.myWeek2{
    margin: 50px;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60, 20, 200);
} 
    


.myWeek3{
    margin: 50px;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60,20,200);
} 

.myWeek4{
    margin: 50px;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60,20,200);
} 
    
/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(67, 255, 255);
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(67, 255, 255);

    
}
