/* James Hong, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(67, 255, 255);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(22, 96, 96);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(22, 96, 96);
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(22, 96, 96);

    
}



.myWeek2{
    margin: auto;
    max-width: 600px;
    background-color: rgb(22, 96, 96);
} 
