/* James Hong, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(29, 207, 207);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/*Buttons*/

.link{
    background-color: rgb(67, 255, 255);

    padding:10px;
    
    border:2px;
    border-color: rgb(20, 120, 120);
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    text-decoration: none;
}
.wrap{
    display: block;
    margin: auto;
   }
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover{

    background-color: rgba(68, 116, 237, 0.821);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}

.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60,20,200);
}



.myWeek2{
    margin: auto;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60, 20, 200);
} 
    


.myWeek3{
    margin: auto;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60,20,200);
} 

.myWeek4{
    margin: auto;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60,20,200);
} 

.myWeek5{
    margin: auto;
    max-width: 600px;
    background-color: rgb(67, 255, 255);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(60,20,200);
} 
    
/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(67, 255, 255);
    width:100%;  /* it was 330px */
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(67, 255, 255);

    
}
